*{
    padding: 0px;
    margin: 0px;
}
.head1{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('./home.jpg');
    background-size: 100%;
    filter: brightness(100%);
    color:white;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
 
.nav{
    text-decoration: none;
   color: aliceblue;
   padding-left: 10px;
}
.nav:hover{
    font-weight: bold;
    box-shadow: 20px 20px 30px black;
}
#maindiv{
    margin-top: 50px;
    height: 280px;
    width: 100%;
    /* border: 5px solid black; */
}
.login{
    font-size: larger;
    /* border: 5px solid; */
    text-align: center;
    float: right;
    height:250px;
    width: 45%;
    margin: 0px;
    margin-right: 10px;
    background-color:rgb(211, 222, 236);
    border: 3px double black;
    color: black;
    border-radius: 30px;
    
}
.course:hover{
    box-shadow: 10px 10px 40px black;

}
.course{
    color: white;
    opacity: 0.5;
    background-color: rgb(17, 17, 93);
    margin-top: 8px;
    border-radius: 30px;
     border: 3px solid white; 
    height: 120px;
    width: 50%;
    font-weight: bolder;
}

.contact{
    text-decoration: none;
    margin-top: 20px;
    float: left;
    text-align: left;
width: 500px;
color: aliceblue;
}
/* footer */
.head{
    margin-top: 0%;
    width: 100%;
    align-items: flex-start;
    background-color: rgb(1, 1, 60);
}
#map{
    padding-left: 20px;
    padding-right: 25px;
}
.logo{
    text-align: center;
    width: 400px;
    height: 300px;
    padding-top: 10px;
    padding-right: 20px;
    color: aliceblue;
    
}
/* project end */
.ctext{
    margin: 0%;
    text-align: center;
    

}
.cr{
    margin-left: 20px;
    text-align: center;
    display: inline-block;
    padding: 20px;
    font-size: large;
    margin-top: -5px;
color:white;
}
#img{
    align-items: center;
    height: 250px;
    width: 100%;
}

/* about */

.abimg{
    margin-top: 0px;
    padding-top: 0px;
    height: 400px;
    width: 100%;
}
.abimg1{
    margin-top: -38px;
    padding-top: 0px;
    height: 400px;
    width: 100%;
}
#aboutdiv{
    background-image: url('./laptop.jpg');
    background-repeat: no-repeat;
    background-size: 100% 80%;
    margin-bottom: 0px;
    width: 100%;

}
.mission{
    height: 100px;
    width: 100%;
    margin-left: 0px;
    text-align: justify;
    
}
.aboutmission{
    padding-right: 0px;
width: 100%;
}
.abhead{
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}
/* .mission:hover{
    box-shadow: 10px 10px 20px black;
} */
#feedbackdiv{
    font-weight: bolder;
    height: 100%;
    color: aliceblue;
padding-bottom:20px;
margin-bottom: -35px;
    background-color: rgba(114,127,195,255);

}
.contactlinks{
    color: black;
    display: inline;
    margin: 30px;
    font-size: larger;
    font-weight: 600;
}

@media screen and (max-width:400px)
{
*{
    padding: 0px;
    margin: 0px;
}
.head1{
    position: relative;
    border:5px solid red;
    width: 100%;
    height: 100%;
    background-image: url('./home.jpg');
    background-size: 100%;
    filter: brightness(100%);
    color:red;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
 
.nav{
    text-decoration: none;
   color: aliceblue;
   padding-left: 10px;
}
.nav:hover{
    font-weight: bold;
    box-shadow: 20px 20px 30px black;
}
#maindiv{
    margin-top: 50px;
    height: 280px;
    width: 100%;
    /* border: 5px solid black; */
}
.login{
    font-size: larger;
    /* border: 5px solid; */
    text-align: center;
    float: right;
    height:250px;
    width: 45%;
    margin: 0px;
    margin-right: 10px;
    background-color:rgb(211, 222, 236);
    border: 3px double black;
    color: black;
    border-radius: 30px;
    
}
.course:hover{
    box-shadow: 10px 10px 40px black;

}
.course{
    color: white;
    opacity: 0.5;
    background-color: rgb(17, 17, 93);
    margin-top: 8px;
    border-radius: 30px;
     border: 3px solid white; 
    height: 120px;
    width: 50%;
    font-weight: bolder;
}

.contact{
    text-decoration: none;
    margin-top: 20px;
    float: left;
    text-align: left;
width: 500px;
color: aliceblue;
}
/* footer */
.head{
    margin-top: 0%;
    width: 100%;
    align-items: flex-start;
    background-color: rgb(1, 1, 60);
}
#map{
    padding-left: 20px;
    padding-right: 25px;
}
.logo{
    text-align: center;
    width: 400px;
    height: 300px;
    padding-top: 10px;
    padding-right: 20px;
    color: aliceblue;
    
}
/* project end */
.ctext{
    margin: 0%;
    text-align: center;
    

}
.cr{
    margin-left: 20px;
    text-align: center;
    display: inline-block;
    padding: 20px;
    font-size: large;
    margin-top: -5px;
color:white;
}
#img{
    align-items: center;
    height: 250px;
    width: 100%;
}

/* about */

.abimg{
    margin-top: 0px;
    padding-top: 0px;
    height: 400px;
    width: 100%;
}
.abimg1{
    margin-top: -38px;
    padding-top: 0px;
    height: 400px;
    width: 100%;
}
#aboutdiv{
    background-image: url('./laptop.jpg');
    background-repeat: no-repeat;
    background-size: 100% 80%;
    margin-bottom: 0px;
    width: 100%;

}
.mission{
    height: 100px;
    width: 100%;
    margin-left: 0px;
    text-align: justify;
    
}
.aboutmission{
    padding-right: 0px;
width: 100%;
}
.abhead{
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}
/* .mission:hover{
    box-shadow: 10px 10px 20px black;
} */
#feedbackdiv{
    font-weight: bolder;
    height: 100%;
    color: aliceblue;
padding-bottom:20px;
margin-bottom: -35px;
    background-color: rgba(114,127,195,255);

}
.contactlinks{
    color: black;
    display: inline;
    margin: 30px;
    font-size: larger;
    font-weight: 600;
}
}
